/* Add this to your CSS file */
.modal-input-field {
  border-radius: 25px;
  border: solid 2px #efefef;
  background-color: #ffffff;
  padding: 12px 16px;
  outline: none; /* Removes default outline */
  transition: border-color 0.3s ease; /* Smooth border change on focus */
}

/* Optional: add a subtle focus effect */
.modal-input-field:focus {
  border-color: #34bcff; /* Changes border color on focus */
  box-shadow: 0 0 5px rgba(52, 188, 255, 0.5); /* Adds a light shadow */
}

.modal-memo-field {
  border-radius: 12px;
  border: solid 2px #efefef;
  background-color: #ffffff;
  padding: 12px 16px;
  width: 100%; /* Ensures full width */
  outline: none; /* Removes default outline */
  transition: border-color 0.3s ease; /* Smooth border change on focus */
}

/* Optional: add a subtle focus effect */
.modal-memo-field:focus {
  border-color: #34bcff; /* Changes border color on focus */
  box-shadow: 0 0 5px rgba(52, 188, 255, 0.5); /* Adds a light shadow */
}

.modal-submit-btn {
  width: 126px;
  height: 48px;
  background-color: #039de8;
  border-radius: 24px;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  color: #4c4c4c;
  transition: background-color 0.3s;
}

.modal-submit-btn:hover {
  background-color: #0284c7; /* Slightly darker shade for hover */
}
